Hi, This is pearl's portfolio website

{% load static %}
<!DOCTYPE html>
<!-- <html xmlns="http://www.w3.org/1999/xhtml"> -->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pearl's Portfolio</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/circle-effect.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fullPage.css' %}" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{% static 'js/jquery.fullPage.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>

</head>

<body>

    {% include 'header.html' %}

    <div id="fullpage">
        <div id="staticImg">
            <div class="imgsContainer">
                <!-- <img src="imgs/iphone-green.png" alt="iphone" id="iphone-green" /> -->
            </div>
        </div>

        <div class="section " id="section0">
            <div class="wrap">

                <h1>ABOUT ME</h1>
                <div class="imgsContainer">
                    <div class='circle circle1'></div>
                    <div class='circle circle2'></div>
                    <div class='circle circle3'></div>
                    <div class='circle circle4'></div>
                </div>

                <img src="{% static 'imgs/me01.png' %}" alt="pearl">

                <div class="box">Hi! I am <strong>Jinjoo Lee(Pearl)</strong>. I have recently moved to the U.S. from
                    South Korea. I'm an ambitious and self-motivated software developer. I love cats, learning
                    languages, working out, reading books and ice skating. I'm very passionate to learn new
                    things. Always improve myself.
                </div>
            </div>
        </div>
        <div class="section" id="section1">
            <div class="wrap">
                <div class="imgsContainer">
                    <img src="{% static 'imgs/logos/pytest.png' %}" alt="pytest">
                    <img src="{% static 'imgs/logos/azure.png' %}" alt="azure">
                    <img src="{% static 'imgs/logos/css.png' %}" alt="css">
                    <img src="{% static 'imgs/logos/django.png' %}" alt="django">
                    <img src="{% static 'imgs/logos/flask.png' %}" alt="flask">
                    <img src="{% static 'imgs/logos/docker.png' %}" alt="docker">
                    <img src="{% static 'imgs/logos/numpy.png' %}" alt="numpy">
                    <img src="{% static 'imgs/logos/javascript.png' %}" alt="javascript">
                    <img src="{% static 'imgs/logos/jquery.png' %}" alt="jquery">
                    <img src="{% static 'imgs/logos/postgresql.png' %}" alt="postgresql">
                    <img src="{% static 'imgs/logos/mysql.png' %}" alt="mysql">
                    <img src="{% static 'imgs/logos/aws.png' %}" alt="aws">
                    <img src="{% static 'imgs/logos/googlecloud.png' %}" alt="googlecloud">
                    <img src="{% static 'imgs/logos/sqlalchemy.png' %}" alt="sqlalchemy">
                    <img src="{% static 'imgs/logos/html.png' %}" alt="html">
                    <img src="{% static 'imgs/logos/photoshop.png' %}" alt="photoshop">
                    <img src="{% static 'imgs/logos/pandas.png' %}" alt="pandas">
                    <img src="{% static 'imgs/logos/python.png' %}" alt="python">
                    <img src="{% static 'imgs/logos/php.png' %}" alt="php">
                    <img src="{% static 'imgs/logos/illustrator.png' %}" alt="illustrator">
                </div>

                <div class="box">
                    <h2>Skills</h2>
                    <ul><strong>Databases:</strong><br> PostgreSQL, MySQL</ul>
                    <ul><strong>Frameworks:</strong><br> Django, Flask, Alambic</ul>
                    <ul><strong>Language:</strong><br> Python, PHP, JavaScript, HTML, CSS</ul>
                    <ul><strong>Cloud:</strong><br> AWS, Microsoft Azure, Google Cloud</ul>
                    <ul><strong>Applications & Libraries:</strong><br> jQuery, REST API, Docker, Pandas, NumPy,
                        Pytest, SQLAlchemy
                    </ul>
                </div>
            </div>
        </div>

        <div class="section moveDown" id="section2">
            <div class="wrap page" id="page1">
                <!--Gallery Boxes-->
                <div class="imgsContainer gbox">
                    <img src="{% static 'imgs/project01.png' %}" alt="project-gibson" class="i1">
                    <img src="{% static 'imgs/project02.png' %}" alt="project-starbucks" class="i2">
                    <img src="{% static 'imgs/project03.jpg' %}" alt="project-indigo" class="i3">
                    <img src="{% static 'imgs/project04.png' %}" alt="project-php" class="i4">
                    <img src="{% static 'imgs/project05.png' %}" alt="project-name" class="i5">
                </div>

                <!--Next/Prev Buttons-->
                <a href="#" class="abtn prev"><img src="{% static 'imgs/left_btn.png' %}" alt="previous project"></a>
                <a href="#" class="abtn next"><img src="{% static 'imgs/right_btn.png' %}" alt="next project"></a>
            </div>

            <div class="box">
                <h2>Projects</h2>
                <ul class="on">For the project <strong>Gibson</strong>, I built a renewal website for Gibson guitar
                    brand with
                    HTML, CSS, JavaScript, JQuery, Python, Flask and Django.</ul>
                <ul>For the project <strong>Starbucks</strong>, I made a mobile web site with
                    HTML, CSS, JavaScript, JQuery, Python, Flask and Django.</ul>
                <ul>For the project <strong>Indigo</strong>, I built a mobile website with
                    HTML, CSS, JavaScript, JQuery, Python, Flask and Django.</ul>
            </div>
        </div>

        <div class="section moveDown" id="section3">
            <div class="wrap">
                <div class="box">
                    <h2>Contact</h2>
                    Ask me anything you want with filling out this form, send an email or text me!<br><br>
                    <ul><img src="{% static 'imgs/logos/linkedin.png' %}" alt="LinkedIn Profile"><strong>LinkedIn:
                        </strong>
                        <a href="https://www.linkedin.com/in/pearllj/"> https://www.linkedin.com/in/pearllj/</a>
                    </ul>
                    <ul><img src="{% static 'imgs/logos/github.png' %}" alt="GitHub Profile"><strong>GitHub:
                        </strong>
                        <a href="https://github.com/pearlilyy"> https://github.com/pearlilyy</a>
                    </ul>
                    <ul><img src="{% static 'imgs/logos/email.png' %}" alt="Send Email"><strong>Email: </strong>
                        <a href="mailto:flairpearllee@gmail.com"> flairpearllee@gmail.com</a>
                    </ul>
                    <ul><img src="{% static 'imgs/logos/phone.png' %}" alt="Make a Phone Call"><strong>Phone:
                        </strong>
                        <a href="tel:424-341-8310"> +1(424) 341-8310</a>
                    </ul>
                </div>

                <div class="fix_form">
                    <div class="fix_inner">
                        <h2>Leave a message to Me</h2>
                        <form action="#" name="contact-form" method="POST">{% csrf_token %}
                            <ul class="clearfix">
                                <li><span>Name *</span> <input type="text" name="name" required></li>
                                <li><span>Email Address *</span> <input type="email" name="email" required></li>
                                <li><span>Phone Number</span> <input type="tel" name="phone" maxlength="15"></li>
                                <li class="fix_detail"><span>Message</span>
                                    <textarea name="message" cols="15" rows="5"></textarea>
                                </li>
                            </ul>
                            <input type="submit" value="Send" class="form_submit">
                        </form>
                    </div>
                </div>
            </div>
            <div class="imgsContainer">
            </div>
        </div>

    </div>

</body>

</html>